@(message: String)

    @main("Course Monitoring Reports", "Course Reports") {
        <div class="row div-table-search">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="table-text-search">
                    <input type="text" class="form-control" placeholder="Search information" />
                    <span class="fa fa-search search-icon"></span>
                </div>
            </div>
        </div>
        <div>
            <table class="table table-responsive">
                <thead>
                    <tr>
                        <th class="header">Id</th>
                        <th class="header">Name</th>
                        <th class="header">Chinhnhnh</th>
                        <th class="header">Chinhnhnh</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>a</td>
                        <td>b</td>
                        <td>c</td>
                        <td>d</td>
                    </tr>
                    <tr>
                        <td>a</td>
                        <td>b</td>
                        <td>c</td>
                        <td>c</td>
                    </tr>
                    <tr>
                        <td>a</td>
                        <td>b</td>
                        <td>c</td>
                        <td>c</td>
                    </tr>
                    <tr>
                        <td>a</td>
                        <td>a</td>
                        <td>b</td>
                        <td>c</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="text-center">
                <ul class="pagination">
                    <li>
                        <a href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li>
                        <a href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    }
