@(data: Seq[(InfoCourseEachAcademicSeason, Option[Course], Option[Faculty], Option[AcademicSeason], Option[User],
        Option[User], Option[Int])], user: User)(implicit flash: play.api.mvc.Flash, messages: Messages)
    @main("Course Monitoring Reports", "Courses", user) {
        @flash.get("success").map { message =>
            <div class="alert alert-success">
                <strong>Done!</strong> @message
                . <a href="@flash.get("link")">Click here to view report</a>
            </div>
        }
        @flash.get("error").map { message =>
            <div class="alert alert-warning">
                <strong>Opps!</strong> @message
            </div>
        }
        @flash.get("info").map { message =>
            <div class="alert alert-info">
                @message
                . <a href="@flash.get("link")">Click here to view report</a>
            </div>
        }
        <div class="row div-table-search">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="table-text-search">
                    <input type="text" class="form-control" placeholder="Search information" />
                    <span class="fa fa-search search-icon"></span>
                </div>
                @if(user.roleId == "ADM") {
                    <a class="btn btn-primary pull-right" href="@routes.ManagementToolController.courseCreate">Add course</a>
                }
            </div>
        </div>
        <div>
            <table class="table table-responsive">
                <thead>
                    <tr>
                        <th class="header">Course</th>
                        <th class="header">Title</th>
                        <th class="header">Faculty</th>
                        <th class="header">Year</th>
                        <th class="header">Student</th>
                        <th class="header">Start</th>
                        <th class="header">End</th>
                        <th class="header">Leader</th>
                        <th class="header">Moderator</th>
                        @if(user.roleId == "CL" || user.roleId == "ADM") {
                            <th class="header">#</th>
                        }
                    </tr>
                </thead>
                <tbody>
                @for(c <- data) {
                    <tr>
                        <td>@c._1.courseId</td>
                        <td>@c._2.head.title</td>
                        <td>@c._3.head.name</td>
                        <td>@c._4.head.name</td>
                        <td>@c._1.studentNumber</td>
                        <td>@c._4.head.startDate</td>
                        <td>@c._4.head.endDate</td>
                        <td>@c._5.map(_.firstName) @c._5.map(_.lastName)</td>
                        <td>@c._6.map(_.firstName) @c._6.map(_.lastName)</td>
                        <td>
                            @*&& c._4.head.endDate.getTime < (new Date()).getTime*@
                            @if(user.roleId == "CL" && c._7.isEmpty && c._6.nonEmpty) {
                                <form action="@routes.CMRController.add(c._1.courseId, c._4.head.academicSeasonId.get)">
                                    <button type="submit" class="btn btn-link" formmethod="post">Create report</button>
                                </form>
                            }
                            @if(user.roleId == "CL" && c._7.nonEmpty) {
                                <a href="@routes.CMRController.get(c._7.head)">View</a>
                            }
                            @if(user.roleId == "ADM"){
                                <a href="#" >Edit</a>
                            }
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    }
