@(data: Seq[(CMR, Option[Course], Option[Faculty], Option[User], Option[User])], user: User)
@main("Course Monitoring Reports", "Reportes", user) {
    <div class="row div-table-search">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="table-text-search">
                <input type="text" class="form-control" placeholder="Search information" />
                <span class="fa fa-search search-icon"></span>
            </div>
        </div>
    </div>
    <div>
        <table class="table table-responsive">
            <thead>
                <tr>
                    <th class="header">CMR</th>
                    <th class="header">Faculty</th>
                    <th class="header">Course</th>
                    <th class="header">Session</th>
                    <th class="header">Status</th>
                    <th class="header">Create Date</th>
                    <th class="header">CL</th>
                    <th class="header">CM</th>
                    <th class="header">Detail</th>
                </tr>
            </thead>
            <tbody>
                @for(d <- data){
                    <tr>
                        <td>@d._1.cmrId</td>
                        <td>@d._3.head.name</td>
                        <td>@d._2.head.title</td>
                        <td>@d._2.head.academicSession</td>
                        @if(d._1.status == "Commented"){
                            <td class="text-success">@d._1.status</td>
                        } else{
                            <td>@d._1.status</td>
                        }
                        <td>@d._1.createdDate</td>
                        <td>@d._4.head.firstName @d._4.head.lastName</td>
                        <td>@d._5.head.firstName @d._5.head.lastName</td>
                        <td>
                            <a href="@routes.CMRController.get(d._1.cmrId)">View</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}