@main("Course Monitoring Reports", "Reportes") {
  <div class="row div-table-search">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <div class="table-text-search">
        <input type="text" class="form-control" placeholder="Search information" />
        <span class="fa fa-search search-icon"></span>
      </div>
    </div>
  </div>
  <div>
    <table class="table table-responsive">
      <thead>
        <tr>
          <th class="header">CMR</th>
          <th class="header">Faculty</th>
          <th class="header">Course</th>
          <th class="header">Session</th>
          <th class="header">Status</th>
          <th class="header">Create Date</th>
          <th class="header">CL</th>
          <th class="header">CM</th>
          <th class="header">Detail</th>
        </tr>
      </thead>
      <tbody>

      </tbody>
    </table>
  </div>
}