@(listUser: Seq[User], user: User)(implicit flash: play.api.mvc.Flash, messages: Messages)

@main("Course Monitoring Reports", "Management Users", user) {
    <script src="@routes.Assets.versioned("js/userDelete.js")" type="text/javascript"></script>
    @flash.get("success").map { message =>
        <div class="alert alert-success">
            <strong>Done!</strong> @message
        </div>
    }
    <div class="row div-table-search">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="table-text-search">
                <input type="text" class="form-control" placeholder="Search information" />
                <span class="fa fa-search search-icon"></span>
            </div>
            @if(user.roleId == "ADM") {
                <a class="btn btn-primary pull-right" href="@routes.UserController.create">Add User</a>
            }
        </div>
    </div>
    <div>
        <table class="table table-responsive">
            <thead>
                <tr>
                    <th class="header">Id</th>
                    <th class="header">Role</th>
                    <th class="header">First Name</th>
                    <th class="header">Last Name</th>
                    <th class="header">Email</th>
                    <th class="header">CreateDate</th>
                    <th class="header">Active</th>
                    <th class="header">#</th>
                </tr>
            </thead>
            <tbody>
            @for(u <- listUser) {
                <tr>
                    <td>@u.userId</td>
                    <td>@u.roleId</td>
                    <td>@u.firstName</td>
                    <td>@u.lastName</td>
                    <td>@u.email</td>
                    <td>@u.createDate</td>
                    <td>@u.isActive.equals('1')</td>
                    <td>
                        <a class="btn btn-primary" href="@routes.UserController.edit(u.userId.get)">Edit</a>
                        <input type="button" class="btn btn-danger openConfirm" data-toggle="modal" data-target="#confirm-delete"
                        value="Delete" data-username="@u.firstName @u.lastName" data-href="@routes.UserController.delete(u.userId.get)" />
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
    <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="modalRemoveConfirm" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Confirm</h4>
                </div>
                <div class="modal-body"></div>
                <div class="modal-footer">
                    <form id="formDelete" method="post" class="form-horizontal">
                        <div class="form-group">
                            <div class="col-sm-offset-3 col-md-offset-3 col-lg-offset-3 col-sm-9 col-md-9 col-lg-9">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                <input type="submit" class="btn btn-danger" value="Delete" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
}